// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&family=Source+Sans+Pro&display=swap");

body {
  // font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  // font-family: "Source Sans Pro", sans-serif;
}

.text-body3 {
  font-size: 13px;
}
